<h1>Editing Distrito Cuidad Barrio</h1>

<%= render 'form', distrito_cuidad_barrio: @distrito_cuidad_barrio %>

<%= link_to 'Show', @distrito_cuidad_barrio %> |
<%= link_to 'Back', distrito_cuidad_barrios_path %>
