



<div class="app-inner-layout chat-layout">
            
                            <div class="app-inner-layout__header text-white bg-vicious-stance">
                                <div class="app-page-title">
                                    <div class="page-title-wrapper">
                                        <div class="page-title-heading">
                                            <div class="page-title-icon bg-happy-fisher"><i class="pe-7s-help1 text-white"></i></div>
                                            <div>SECCION AYUDA
                                                <div class="page-title-subheading">Guia y Instrucciones de uso de la aplicación.</div>
                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="app-inner-layout__wrapper row-fluid no-gutters">
                                <div class="app-inner-layout__sidebar bg-transparent card">
                                    <div class="p-3">
                                        <div class="dropdown-menu nav p-0 dropdown-menu-inline dropdown-menu-rounded dropdown-menu-hover-primary">
                                            <h6 tabindex="-1" class="pt-0 dropdown-header">Menu</h6>
                                            <a href="#tab-faq-1" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item active" aria-expanded="true">Datos </a>
                                            <a href="#tab-faq-2" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item" aria-expanded="true">Mapa de Positivos</a>
                                            <a href="#tab-faq-3" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item" aria-expanded="true">Mapa de Calor</a>
                                            <a href="#tab-faq-4" data-toggle="tab" tabindex="0" class="mb-1 dropdown-item" aria-expanded="true">Cluster</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 app-inner-layout__content card">
                                    <div class="pb-5 pl-5 pr-5 pt-3">
                                        <div class="mobile-app-menu-btn mb-3">
                                            <button type="button" class="hamburger hamburger--elastic"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                                        </div>
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="tab-faq-1">
            
                                                <div id="accordion" class="accordion-wrapper mb-3">
                                                    <div class="card">
                                                        <div id="headingOne" class="card-header">
                                                            <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                                                                <h5 class="m-0 p-0">Datos</h5>
                                                            </button>
                                                        </div>
                                                        <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse show" style="">
                                                            <div class="card-body">Este modulo presenta como funcionalidad la de mostrar solo datos referentes a los positivos confirmados que se encuentren ACTIVOS.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card">
                                                        <div id="headingTwo" class="b-radius-0 card-header">
                                                            <button type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="false" aria-controls="collapseTwo" class="text-left m-0 p-0 btn btn-link btn-block collapsed"><h5 class="m-0 p-0">
                                                                Datos Positivos - Avanzado</h5></button>
                                                        </div>
                                                        <div data-parent="#accordion" id="collapseOne2" class="collapse" style="">
                                                            <div class="card-body">Este modulo presenta como funcionalidad la de mostrar solo datos referentes a los positivos confirmados, presentando la mayoria de los datos y permitiendo al usuario filtrar segun este desee. Asi mismo ofrece funcionalidad de Exportar a PDF, EXCEL , CSV y Copiar.
                                                            Tambien se pueden agregar y sacar columnas.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
            
                                                <div class="mt-5"></div>
                                                
                                            </div>
                                            <div class="tab-pane" id="tab-faq-2"><h4>Mapa de Positivos</h4>
                                                <div class="divider"></div>
                                                <p>Esta funcionalidad permite al usuario visualizar en un mapa todas las notificaciones de los arbovirus, y filtrar estos por arbovirus y en un rango de tiempo.</p>
                                                <p>El usuario debe seleccionar un arbovirus haciendo click en el icono de <icon class="pe-7s-map-marker"> </icon> correspondiente, luego podra hacer click sobre cualquiera de los puntos para visualizar los datos. </p>


                                                <p>Una vez realizado el filtro por rango de fechas, el usuario podra usar la funcion <icon class="fa fa-play"></icon> para ver el orden en que fueros notificados los reportes en el rango de fecha seleccionado.</p>

                                                <p></p>
                                                <div class="mt-5"></div>
                                                <div class="clearfix">
                                                    
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-faq-3"><h4>Maecenas tempus, tellus</h4>
                                                <div class="divider"></div>
                                                
                                                <div class="mt-5"></div>
                                                <div class="clearfix">
                                                    <div class="text-center">
                                                        <button type="button" class="btn-pill btn-wide btn-shadow btn btn-primary btn-lg">Maecenas tempus, tellus</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>