        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
        <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>


    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>
        <script type="text/javascript" src="/javascript/mapas.js"></script>
        <script type="text/javascript" src="/javascript/fullscreen.js"></script>
        <div class="col-lg-12">
            <div class="main-card mb-6 card">
                <div class="card-body"><h5 class="card-title">Casos Positivos Confirmados</h5>





                </div>

            </div></div>
            <br>
            <div class="col-lg-12">
             <div class="main-card mb-6 card">
                <div id="map" style="height: 720px">
                    <div id="datepicker"></div>
            </div>
        </div>

<script>
    
  var osm  = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {id: 'osm',attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'});

                var map = L.map('map',{
                    center: [-27.33, -55.87],
                    zoom:  12,
                    layers: [osm],
                    timeDimension: true,
                     fullscreenControl: true
                });
</script>